	/*  @font-face {
	font-family: "CodeBold";
	src: url("font/Code-Bold.eot");
	src:
	url("font/Code-Bold.woff") format("woff"),
	url("font/Code-Bold.woff2") format("woff2"),
	url("font/Code-Bold.ttf") format("truetype"),
	url("font/Code-Bold.otf") format("opentype"),
	url("font/Code-Bold.svg#filename") format("svg");
	}
	@font-face {
	font-family: "CodeLight";
	src: url("font/Code-Light.eot");
	src:
	url("font/Code-Light.woff") format("woff"),
	url("font/Code-Light.woff2") format("woff2"),
	url("font/Code-Light.otf") format("opentype"),
	url("font/Code-Light.ttf") format("truetype"),
	url("font/Code-Light.svg#filename") format("svg");
	
	
	
	
	font-family: 'Inconsolata', monospace;
	font-family: 'Playfair Display', serif;
	font-family: 'Ubuntu', sans-serif;
	}  */

	*{margin:0; padding:0}
	
body {
    color: #626262;
    line-height: 1.6;
    font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size:14px;
}
.header-logo {
    padding: 60px 0;
}
nav.menu ul {
    list-style-type: none;
    text-align: right;
    text-transform: uppercase;
}
nav.menu li {
    display: inline-block;
    padding-left: 60px;
}

nav.menu ul li a {
    color: #626262;
    font-size: 14px;
    padding: 60px 0;
    display: block;
}

a:hover {
    text-decoration: none;
    opacity:0.7
}


img.header-img {
    width: 100%;
}

p.small-text a {
    color: #b4ad9e;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    margin: 30px 0;
    display: block;
}
h2 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #626262;
    font-weight: 400;
}

article {
    padding: 40px 0px;
}


article img {
    width: 100%;
}



.sing-up-area {
    background: #F0F0F0;
    padding: 70px 0;
    text-align: center;
}

.sing-up-area h2 {
    margin-bottom: 70px;
	color:#333333;
}

.newsletter-form {
    max-width: 360px;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    position: relative;
}

.newsletter-form input[type="email"] {
    border: none;
    background: #F0F0F0;
    padding: 10px;
    width: 100%;
}
.newsletter-form input:focus {
    outline: none;
}
.newsletter-form button {
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    padding: 10px;
}
footer.section-footer {
    background-color: #F0F0F0;
    padding: 35px 0;
}

a.box-btn {
    color: #626262;
    text-decoration: none;
    padding: 20px 37px;
    border: 1px solid #626262;
    font-size: 20px;
}

.text-center {
    margin: 100px 0;
}



footer.section-footer ul {
    list-style-type: none;
    margin: 0;
}

footer.section-footer ul li {
    display: inline-block;
    padding-left: 20px;
}

footer.section-footer ul li a {
    color: #000;
    font-size: 14px;
}

footer.section-footer .social-icon ul li a {
    color: #626262;
   
}

